#skills{margin-bottom: 160px;}
.limit3{max-width: 1000px;margin: auto}


.skillsbox{
    max-width: 800px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillbar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skillname{
    color: #FF005C;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 20px;
    background: #2e2e2e67;
    border-radius: 20px;
    flex-basis: 16%;
    text-align: center;
    user-select: none;
}

.pgbar{
    flex-basis: 84%;
    margin-left: 16px;
    border-color: #8E8E8E;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 3px;
    height: 8px;
    width: 100%;
    align-items: center;
    display: flex;
}

.bar{
    height: 100%;
    background: #FF005C;
    border-radius: 20px;
    width: 60%;
}


.skillcards{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.webcard{
    flex-basis: 50%;
    width: 46%;
    margin-right: 20px;
    padding: 20px;
    background: #2e2e2e67;
    border-radius: 4px;
}
.graphicscard{
    flex-basis: 50%;
    width: 46%;
    margin-left: 20px;
    padding: 20px;
    background: #2e2e2e67;
    border-radius: 4px;
}


.circularbar{
    max-width: 400px;
    margin: 120px auto;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    transform: scale(0.8);
}

svg{position: absolute;user-select: none;}
.stat{fill: none;stroke: rgb(107, 107, 107);stroke-width: 4px;}

.load, .load1{
    fill: none;
    stroke: cyan;
    stroke-width: 10px;
    stroke-dasharray: 628;
    stroke-dashoffset: 628;
    stroke-linecap: round;
    transition: 2.3s;
}

.loading{
    fill: none;
    stroke: cyan;
    stroke-width: 10px;
    stroke-dasharray: 628;
    stroke-dashoffset: 80;
    stroke-linecap: round;
}
.loading1{
    fill: none;
    stroke: cyan;
    stroke-width: 10px;
    stroke-dasharray: 628;
    stroke-dashoffset: 120;
    stroke-linecap: round;
}

.contents{display: flex;align-items: baseline;position: absolute;}
.num,.num1{font-size: 60px;color: cyan;user-select: none;}
.percent{font-size: 20px;color: cyan;user-select: none;}

.cardname{
    color: #8E8E8E;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

.cardtopic{
    color: #FF005C;
    font-size: 16px;
    text-transform: uppercase;
    user-select: none;
}

.ad{color: #8E8E8E;font-size: 10px;margin-top: 20px;text-align: center;}
.red{color: #FF005C; text-decoration: none;}

